#notification {
  position: fixed;
  z-index: 99;
  mix-blend-mode: difference;
  top: var(--size-lg);
  right: var(--size-lg);
  background-color: var(--on-bg);
  padding: var(--size-md);
  width: 100%;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--size-md);
  animation: appear var(--transition-short) forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#notification > * {
  color: var(--bg);
  font-size: var(--text-md);
  text-transform: none;
  text-align: left;
}

#notification[aria-hidden=true] {
  display: none;
}