#wrapper {
  height: 100vh;
  max-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-lg);
}

#form > div {
  width: 100%;
}

#form input {
  width: 100%;
}