#wrapper {
  height: 100vh;
  max-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-lg);
  width: 100%;
  padding: 0 20px;
}

@media (width > 450px) {
  #form {
    width: fit-content;
    min-width: 350px;
  }
}

#form > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
}

#form input {
  width: 100%;
}

#form input[aria-errormessage] {
  border-color: var(--error-color);
}

.error {
  color: var(--error-color);
}

#form button[type="submit"] {
  padding: var(--size-md) 0;
}