#header {
  padding: var(--size-xl) 0;
  margin-bottom: var(--size-3xl);
  display: flex;
  gap: var(--size-md);
}

#header button {
  padding: var(--size-lg);
}

#header svg {
  font-size: var(--text-lg);
}

#itemsTitle {
  font-size: var(--text-lg);
}

#main {
  display: flex;
  flex-direction: column;
  gap: var(--size-xl);
}

.galleryItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-xl) 0;
  position: relative;
}

.galleryItem::before, .galleryItem::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 1px;
}

.galleryItem::before {
  width: 100%;
  background-color: var(--on-bg25);
  z-index: 0;
}

.galleryItem::after {
  left: auto;
  right: 0;
  width: 0;
  background-color: var(--on-bg50);
  transition: var(--transition-long);
}

.galleryItem:hover::after {
  left: 0;
  right: auto;
  width: 100%;
}

.itemTitle {
  display: flex;
  gap: var(--size-md);
}

.itemTitle * {
  font-size: var(--text-md);
}

#back {
  color: var(--on-bg50);
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
  gap: var(--size-sm);
  margin-bottom: var(--size-md);
}

#add {
  display: flex;
  flex-direction: column;
  gap: var(--size-xl);
}

#add input, #add textarea {
  width: 100%;
  max-width: 500px;
}

.fileUpload {
  display: none;
}

.fileUploadButton {
  font-size: var(--text-md);
  cursor: pointer;
}

.uploadContainer {
  display: flex;
  align-items: center;
  gap: var(--size-lg);
}

.fileName {
  font-size: var(--text-md);
}

#itemEdit {
  display: flex;
  flex-direction: column;
  gap: var(--size-lg);
  margin-bottom: var(--size-lg);
}

#content {
  flex-shrink: 1;
  min-width: 250px;
  height: fit-content;
}

#editForm {
  display: flex;
  flex-direction: column;
  gap: var(--size-lg);
  max-width: 500px;
}

#editForm input, #editForm textarea {
  width: 100%;
}

@media (width > 768px) {
  #itemEdit {
    flex-direction: row;
  }

  #content {
    flex-grow: 1;
  }

  #editForm {
    width: 33.333%;
    max-width: initial;
  }
}

#itemButtons {
  display: flex;
  gap: var(--size-lg);
}

#outlet {
  padding-bottom: var(--size-xl);
}