#header {
  padding: var(--size-xl) 0;
  margin-bottom: var(--size-3xl);
  display: flex;
  gap: var(--size-md);
}

#header button {
  padding: var(--size-lg);
}

#header svg {
  font-size: var(--text-lg);
}

#itemsTitle {
  font-size: var(--text-lg);
}

#main {
  display: flex;
  flex-direction: column;
  gap: var(--size-xl);
}

.galleryItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-xl) 0;
  position: relative;
}

.galleryItem::before, .galleryItem::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 1px;
}

.galleryItem::before {
  width: 100%;
  background-color: var(--on-bg25);
  z-index: 0;
}

.galleryItem::after {
  left: auto;
  right: 0;
  width: 0;
  background-color: var(--on-bg50);
  transition: var(--transition-long);
}

.galleryItem:hover::after {
  left: 0;
  right: auto;
  width: 100%;
}

.itemTitle {
  display: flex;
  gap: var(--size-md);
}

.itemTitle * {
  font-size: var(--text-md);
}

#back {
  color: var(--on-bg50);
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
  gap: var(--size-sm);
  margin-bottom: var(--size-md);
}

#add {
  display: flex;
  flex-direction: column;
  gap: var(--size-xl);
  max-width: 500px;
}

#add input, #add textarea {
  width: 100%;
}

.fileUpload {
  display: none;
}

.fileUploadButton {
  font-size: var(--text-md);
  cursor: pointer;
}

.uploadContainer {
  display: flex;
  align-items: center;
  gap: var(--size-lg);
}

.fileName {
  font-size: var(--text-md);
}

#itemEdit {
  display: flex;
  flex-direction: column;
  gap: var(--size-lg);
  margin-bottom: var(--size-lg);
}

#editForm {
  display: flex;
  flex-direction: column;
  gap: var(--size-lg);
  max-width: 500px;
}

#editForm input, #editForm textarea {
  width: 100%;
}

@media (width > 768px) {
  #itemEdit {
    flex-direction: row;
  }

  #content {
    flex-grow: 1;
  }

  #editForm {
    width: 33.333%;
    max-width: initial;
  }
}

#itemButtons {
  display: flex;
  gap: var(--size-lg);
}

#outlet {
  padding-bottom: var(--size-xl);
}

#upload {
  max-width: 500px;
}

/* Type Selector */
#type-selector {
  position: relative;
}

#type-selector label {
  display: block;
  margin-bottom: var(--size-sm);
}

#selector-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--bg);
  box-shadow: var(--shadow-md);
  border: 1px solid var(--on-bg25);
  margin-top: var(--size-sm);
}

#selector-dropdown ul {
  margin: 0;
  padding: 0;
}

#selector-dropdown li {
  display: block;
}

#selector-dropdown li button {
  padding: var(--size-md) var(--size-xl);
  width: 100%;
}

#selector-dropdown li[aria-selected=true] button {
  background-color: var(--on-bg);
  color: var(--bg);
}

#selector-dropdown li[aria-selected=false] button:hover {
  background-color: var(--on-bg);
  color: var(--bg);
}

#selector-dropdown[aria-expanded=false] {
  display: none;
}

/* File list */
#file-list {
  margin: 0;
  padding: 0;
}

#file-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-md);
  width: 100%;
  padding-bottom: var(--size-lg);
}

#file-list li:only-child span:not(.audio-file) {
  font-size: var(--text-md);
}

#file-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--on-bg25);
}

#file-list li:not(:first-of-type) {
  padding-top: var(--size-lg);
}

#file-list li span {
  display: flex;
  gap: var(--size-md);
}

#file-list li .audio-file::before {
  content: attr(data-index);
}