#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--size-md);
  padding-top: var(--size-xl);
  padding-bottom: var(--size-xl);
}

#footer > * {
  font-size: var(--text-sm);
  width: fit-content;
}

@media (width > 500px) {
  #footer {
    flex-direction: row;
  }
}