@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

::view-transition-old(root) {

}

::view-transition-new(root) {

}

:root {
  font-family: "Neue Haas Grotesk Text Pro", "Arimo", system-ui;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  --bg: black;
  --on-bgRGB: 255, 255, 255;
  --on-bg: rgb(var(--on-bgRGB));
  --on-bg25: rgb(64, 64, 64);
  --on-bg50: rgb(127, 127, 127);
  --error-color: rgb(255, 81, 62);

  --text-xs: 0.6rem;
  --text-sm: 0.75rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 2rem;
  --text-4xl: 2.5rem;

  --size-xs: 0.125rem;
  --size-sm: 0.25rem;
  --size-md: 0.5rem;
  --size-lg: 0.75rem;
  --size-xl: 1rem;
  --size-2xl: 1.5rem;
  --size-3xl: 2.5rem;
  --size-4xl: 4rem;
  --size-5xl: 8rem;

  --transition-timing: cubic-bezier(0.13, 1, 0.22, 1);
  --transition-short: 0.25s var(--transition-timing);
  --transition-med: 0.5s var(--transition-timing);
  --transition-long: 0.8s var(--transition-timing);
  --transition-xlong: 2s var(--transition-timing);

  --shadow-color: rgba(0, 0, 0, 0.08);
  --shadow-sm: 1px 2px 6px var(--shadow-color);
  --shadow-md: 2px 3px 10px var(--shadow-color);
  --shadow-lg: 4px 4px 14px var(--shadow-color);
  --shadow-xl: 4px 6px 18px var(--shadow-color);

  --gutter-size: 3vw;
  --half-gutter-size: 1.5vw;
}

@media (width > 768px) {
  body {
    --text-lg: 1.5rem;
    --text-xl: 2rem;
    --text-2xl: 2.5rem;
    --text-3xl: 3rem;
    --text-4xl: 3.5rem;
  }
}

@media (width > 1350px) {
  body {
    --text-lg: 1.5rem;
    --text-xl: 2.25rem;
    --text-2xl: 3rem;
    --text-3xl: 3.5rem;
    --text-4xl: 4.5rem;
  }
}

body {
  margin: 0;
  background-color: var(--bg);
}

p, span, li, td, code, label {
  color: var(--on-bg50);
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, a, span, label, button {
  text-transform: uppercase;
}

label {
  font-size: var(--text-sm);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  text-transform: uppercase;
  color: var(--on-bg);
  font-weight: 400;
}

textarea {
  resize: vertical;
}

th, button, input, textarea, select {
  color: var(--on-bg);
}

p, li, td, code, button, input, textarea {
  font-size: var(--text-md);
}

span {
  font-size: var(--text-sm);
}

h1 {
  font-size: var(--text-4xl);
}

h2 {
  font-size: var(--text-3xl);
}

h3 {
  font-size: var(--text-2xl);
}

h4 {
  font-size: var(--text-xl);
}

h5 {
  font-size: var(--text-lg);
}

h6 {
  font-size: var(--text-md);
}

button {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--on-bg);
  font-size: var(--text-md);
  transition: var(--transition-med);
}

button:disabled {
  cursor: default;
}

input, textarea, select {
  display: block;
  outline: none;
  border: 1px solid var(--on-bg25);
  padding: var(--size-md);
  background: none;
  font-family: inherit;
  transition: border-color var(--transition-short);
}

input:focus, textarea:focus, select:focus {
  border: 1px solid var(--on-bg50);
}

select > option {
  color: black;
}

a {
  text-decoration: none;
  color: var(--on-bg);
  cursor: pointer;
}

hr {
  border: 1px solid var(--on-bg50);
}

main {
  mix-blend-mode: difference;
}

section:not(:last-of-type) {
  margin-bottom: 50px;
}

header {
  padding: 20px 0;
  z-index: 999;
  position: relative;
}

header > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: var(--gutter-size);
}

footer {
  padding-top: var(--size-xl);
  padding-bottom: var(--size-xl);
}

footer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--size-md);
}

footer > div > * {
  font-size: var(--text-sm);
  width: fit-content;
}

@media (width > 500px) {
  footer > div {
    flex-direction: row;
  }
}

@media (width > 768px) {
  header > div {
    padding: 0 var(--half-gutter-size);
  }

  footer > div {
    padding: 0 var(--half-gutter-size);
  }
}

@media (width > 1024px) {
  header > div {
    flex-direction: row;
    justify-content: space-between;
  }
}

input[aria-errormessage] {
  border-color: var(--error-color);
}

.header-text[aria-hidden=true] {
  visibility: hidden;
}

.error {
  color: var(--error-color);
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

[type="number"] {
  -moz-appearance: textfield;
}

[type="number"]::-webkit-outer-spin-button,
[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[aria-disabled=true] {
  cursor: default;
}

.secondary {
  color: var(--on-bg25);
}

.diff {
  mix-blend-mode: difference;
}

.split {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.section {
  margin-bottom: 50px;
}

.card {
  background-color: var(--on-bg10);
  padding: var(--size-2xl);
  border-radius: var(--size-md);
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
  box-shadow: var(--shadow-lg);
}

#cursor {
  --cursor-size: 10px;
  --cursor-height: var(--cursor-size);
  --cursor-width: var(--cursor-size);

  position: fixed;
  z-index: -1;
  top: calc(-0.5 * var(--cursor-height));
  left: calc(-0.5 * var(--cursor-width));
  width: var(--cursor-width);
  height: var(--cursor-height);
  border-radius: 99px;
  background-color: var(--on-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-sm);
  transition: width var(--transition-med), 
              height var(--transition-med),
              left var(--transition-med),
              top var(--transition-med);
}

#cursor.hover {
  --cursor-size: 40px;
}

#cursor * {
  opacity: 0;
  visibility: hidden;
  font-size: var(--text-sm);
  color: var(--bg);
  transition: opacity var(--transition-short);
}

#cursor.hover-item {
  --cursor-width: 75px;
  --cursor-height: 32px;
}

#cursor.hover-item * {
  opacity: 1;
  visibility: visible;
}

#cursor.hidden {
  --cursor-size: 0px !important;
}

.animate-in {
  overflow: hidden;
  display: block;
}

.animate-in .line {
  overflow: hidden;
}

.gallery-item {
  transition: filter var(--transition-med);
}

.gallery-item:hover {
  filter: grayscale(1);
}

.filled-button {
  background-color: var(--on-bg);
  color: var(--bg);
  padding: var(--size-md) var(--size-lg);
  display: flex;
  align-items: center;
  gap: var(--size-md);
  width: fit-content;
  line-height: 1.2;
}

.filled-button[aria-disabled=true] {
  background-color: var(--on-bg25);
}