.loadingImgContainer {
  overflow: hidden;
  transition: var(--transition-long);
  height: 100vh;
  max-height: -webkit-fill-available;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.loadingImgContainer img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: relative;
  /* Center image in container */
  left: 50%;
  transform: translateX(-50%);
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-top: 20px;
}

@media (width > 768px) {
  #gallery {
    row-gap: 15vw;
    margin-top: 80px;
  }
}